@tailwind base;
@tailwind components;
@tailwind utilities;

html, .dark {
  color: rgb(240, 240, 240);
  background: rgb(23, 23, 23);
}

.light {
  color: rgb(23, 23, 23);
  background: rgb(240, 240, 240);
}

.fade {
  transition: opacity 1s ease-in-out;
}

.loading {
  opacity: 0;
}